#title{
    justify-content: center;
    background-color: rgb(223, 217, 217);
    margin: 5px;
    border-radius: 20px;
}

.body{
    margin: 10px;
    background-color: #b1afb3;
    max-height: 1200px;
    padding: 15px;
    border-radius: 20px;
}

#title h1{
    font-family: 'Libre Barcode 128 Text';
    font-size: 70px;
}

.card{
    margin: 30px;
    height: 380px;
    width: 400px;
}

.card-header{
    text-align: center;
}
