#title{
    justify-content: center;
    color:rgb(0, 0, 0);
}

#title h1{
    font-family: 'Libre Barcode 128 Text';
    font-size: 70px;
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

